outputs/
env/
chat_history.jsonl

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.env
*.venv
.venv/
.env/
pip-wheel-metadata/
dist/
build/
.cache/
.mypy_cache/
.pytest_cache/
.coverage
*.sqlite3
.DS_Store